<footer class="site-footer">

  <h2 class="footer-heading">{% t global.contacts %}</h2>

  <ul class="contact-list">

    {%- for path in site.external_links -%}
      <li><a href="{{path[0]}}" target="_blank" rel="noopener">{{ path[1] }}</a></li>
    {%- endfor -%}

    {%- if site.email -%}
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {%- endif -%}

    {%- if site.github_username -%}
      <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" rel="noopener">Github</a></li>
    {%- endif -%}

    {%- if site.twitter_username -%}
      <li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank" rel="noopener">Twitter</a></li>
    {%- endif -%}

  </ul>

  <p>{% t global.description %}</p>

</footer>
