<footer class="site-footer">

  <h2 class="footer-heading">
    {% if site.lang == "en" %}
    Contacts
    {% else %}
    Contatti
    {% endif %}
  </h2>

  <ul class="contact-list">

    {%- for path in site.external_links -%}
      <li><a href="{{path[0]}}" target="_blank">{{ path[1] }}</a></li>
    {%- endfor -%}

    {%- if site.email -%}
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    {%- endif -%}

    {%- if site.github_username -%}
      <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank">Github</a></li>
    {%- endif -%}

    {%- if site.twitter_username -%}
      <li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}" target="_blank">Twitter</a></li>
    {%- endif -%}

  </ul>

  <p>{% t global.description %}</p>

</footer>
<!-- Main font -->
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" async="async">

{%- if site.google_analytics_account -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117679791-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google_analytics_account}}');
</script>
{%- endif -%}
