<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{% t page.title %}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta
  name="description"
  content="{%- if page.description != nil -%}
           {{ page.description }}
           {%- elsif page.excerpt -%}
           {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
           {%- else -%}
           {{ site.description }}
           {%- endif -%}
           ">
  <link rel="manifest" href="/manifest.json">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% seo title=false %}

  {% include style.html %}

  {%- if site.google_analytics_account -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117679791-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{site.google_analytics_account}}');
  </script>
  {%- endif -%}
</head>
